.col-md-6{
    margin-top: 100px;
}
.section-heading{
    margin-top: 100px;
}
.mar-img-1{
    margin-top: 100px;
}
.img{
    margin-top: 30px;
}
.section-heading{
    text-align: center;
}
