.img-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.imgbox {
    margin: 0%;
    position: relative;
    margin: auto;
}

.imgbox img {
    /* 转换速度 */
    transition: transform 0.5s ease;
}

.imgbox .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 281px;
    background: rgba(44, 44, 44, 0);
    color: #ffffff;
    opacity: 0;
    display: flex;
    font-size: 13px;
    /* 转换速度 */
    transition: transform 0.5s ease;
}

.mask span {
    margin: auto;
}

.imgbox a:hover .mask {
    opacity: 1;
    /* 增加元素的大小*/
}

