
#fh5co-gallery {
  clear: both;
  float: left;
  width: 100%;
}
#fh5co-gallery .fh5co-item {
  display: block;
  position: relative;
  width: 25%;
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  float: left;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  #fh5co-gallery .fh5co-item {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-gallery .fh5co-item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-gallery .fh5co-item {
    width: 100%;
  }
}
#fh5co-gallery .fh5co-item .fh5co-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  background: #69c2c8;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
#fh5co-gallery .fh5co-item .fh5co-copy {
  z-index: 3;
  position: relative;
  height: 300px;
  display: table;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #fh5co-gallery .fh5co-item .fh5co-copy {
    height: 200px;
  }
}
#fh5co-gallery .fh5co-item .fh5co-copy > .fh5co-copy-inner {
  width: 100%;
  height: 300px;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 1200px) {
  #fh5co-gallery .fh5co-item .fh5co-copy > .fh5co-copy-inner {
    height: 200px;
  }
}
#fh5co-gallery .fh5co-item .fh5co-copy > .fh5co-copy-inner h2, #fh5co-gallery .fh5co-item .fh5co-copy > .fh5co-copy-inner h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: relative;
}
#fh5co-gallery .fh5co-item .fh5co-copy > .fh5co-copy-inner h2 {
  top: -10px;
  font-size: 20px;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
#fh5co-gallery .fh5co-item .fh5co-copy > .fh5co-copy-inner h3 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  bottom: -10px;
}
#fh5co-gallery .fh5co-item:hover, #fh5co-gallery .fh5co-item:focus, #fh5co-gallery .fh5co-item:active {
  background-size: cover;
  text-decoration: none;
}
#fh5co-gallery .fh5co-item:hover .fh5co-overlay, #fh5co-gallery .fh5co-item:focus .fh5co-overlay, #fh5co-gallery .fh5co-item:active .fh5co-overlay {
  opacity: .8;
  visibility: visible;
}
#fh5co-gallery .fh5co-item:hover .fh5co-copy-inner h2, #fh5co-gallery .fh5co-item:hover .fh5co-copy-inner h3, #fh5co-gallery .fh5co-item:focus .fh5co-copy-inner h2, #fh5co-gallery .fh5co-item:focus .fh5co-copy-inner h3, #fh5co-gallery .fh5co-item:active .fh5co-copy-inner h2, #fh5co-gallery .fh5co-item:active .fh5co-copy-inner h3 {
  opacity: 1;
  visibility: visible;
}
#fh5co-gallery .fh5co-item:hover .fh5co-copy-inner h2, #fh5co-gallery .fh5co-item:focus .fh5co-copy-inner h2, #fh5co-gallery .fh5co-item:active .fh5co-copy-inner h2 {
  top: 0;
}
#fh5co-gallery .fh5co-item:hover .fh5co-copy-inner h3, #fh5co-gallery .fh5co-item:focus .fh5co-copy-inner h3, #fh5co-gallery .fh5co-item:active .fh5co-copy-inner h3 {
  bottom: 0;
}
